.footer {
  padding: 67px 0 60px;
}

.footer__copyright {
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  /* mobile */
  .footer {
    padding: 48px 0 36px;
  }

  .footer__copyright {
    font-size: 14px;
    max-width: 282px;
  }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
  /* tablet */
  .footer__copyright {
    max-width: 582px;
  }
}

@media screen and (min-width: 900px) {
  /* desktop */
  .footer {
    padding-left: 10px;
  }
}
