.header {
  border-bottom: 1px solid #545454b3;
  padding: 45px 0 41px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 600px) {
  /* mobile */
  .header {
    padding: 28px 0 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
