.modal {
  /* display: none; is detrimental to transition/animation in both ways:
      1. @keyframes method seems to only work one way or locks it w/out display:none
      2. transition with opacity+visibility w/ delay instead of display:none works both ways at the cost of causing a brief glitch upon page load */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.4s ease;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  line-height: 1.2;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.modal__container_type_form {
  padding: 36px;
  width: 430px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.modal__container_type_image {
  padding: 0;
}

.modal__close-button {
  background: url(../images/close.svg) no-repeat center/contain;
  position: absolute;
  right: -44px;
  top: -44px;
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 54px;
  font-size: 24px;
}

.modal__fieldset {
  padding: 0;
  border: 0;
}

.modal__input-container {
  position: relative;
  margin-bottom: 30px;
}

.modal__input-container:last-of-type {
  margin: 0;
}

.modal__input {
  width: 100%;
  padding: 0 0 14px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  position: relative;
}

.modal__input:invalid {
  border-bottom: 1px solid #f00;
}

.modal__error-message {
  color: #f00;
  font-size: 12px;
  line-height: 1.2;
  position: absolute;
  top: calc(
    (14px + 3px) * 2 + 3px
  ); /* (input height incl. compensation) + spacer between msg and next input */
  left: 0;
}

.modal__save-button {
  margin-top: 48px;
  padding: 16px;
  width: 100%;
  border-radius: 2px;
  font-size: 18px;
}

.modal__save-button_active {
  border: 0;
  background-color: #000;
  color: #fff;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.modal__save-button_active:hover {
  opacity: 0.8;
}

.modal__save-button_inactive {
  opacity: 0.2;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  position: absolute;
  left: 0;
  bottom: -20px;
  margin: 0;
  font-size: 12px;
}

@media screen and (max-width: 601px) {
  .modal__container_type_form {
    padding: 25px 22px;
    width: 282px;
  }

  .modal__container_type_form .modal__close-button {
    top: -52px;
    right: 6px;
    width: 26px;
    height: 26px;
  }

  .modal__container_type_image .modal__close-button {
    top: -33px;
    right: -33px;
    width: 30px;
    height: 30px;
  }

  .modal__title {
    margin: 0 0 75px;
    font-size: 18px;
  }

  .modal__save-button {
    margin-top: 45px;
    padding: 14px;
    font-size: 14px;
  }
}
